# Gradle cache and build output
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid
*.seed
docker-data/

#.env
app.properties
.env

#sql
init.sql